.foot {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    color: #DCE1DA;

    h5 {
        font-family: Roboto;
        font-size: 16px;
        margin-left: 101px;
    }

    .logo {
        margin-right: 101px;
    }
}

@media (max-width: 600px) {
    .foot {
        align-items: center;
        height: 80px;

        h5 {
            margin-left: 20px;
        }

        .logo {
            margin-right: 20px;
        }
    }
}